.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
  align-items: center;
  background-color: rgb(160, 70, 235);
  color: white;
  border-radius: 12px;
}

.container {
  width: 1600px;
  margin: 30px auto;
}

.searchbar input {
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
}

.movielist {
  height: 600px;
  display: flex;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.movies {
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 12px;
  height: 600px;
}

.header {
  height: 80px;
  border-radius: 12px;
  background-color: red;
}

.summary {
  overflow-y: scroll;
  overflow-x: scroll;
  border-radius: 12px;
  height: 600px;
}

ul {
  margin: 0px;
  height: inherit;
  background-color: rgb(66, 65, 65);
  width: 400px;
  list-style: none;

  padding-top: 30px;
}

.watchedList {
  margin-top: 0px;
  height: inherit;
  background-color: rgb(66, 65, 65);
  width: 400px;
  list-style: none;
  justify-self: center;
  padding-top: 30px;
}

li {
  padding-top: 8px;
}
